@import "tailwindcss";

/* :root {
  --background: blue;
  --foreground: red;
} */

@theme inline {
  --color-background: #fff8f1;
  --color-gray-primary: #333333;
  --color-gray-secondary: #767676;
  --color-lavander: #6c77ff;
  --color-peach: #FF9472;
  --font-primary: var(--font-inter);
  --font-secondary: var(--font-poppins);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* background: var(--background);
  color: var(--foreground); */
  font-family: var(--font-inter);
}

.cta {
  font-family: var(--font-poppins);
  font-weight: 600;
  font-size: 16px;
}

.heading {
  font-family: var(--font-poppins);
  font-weight: 700;
  font-size: 30px;
}

.subheading {
  font-family: var(--font-poppins);
  font-weight: 700;
  font-size: 20px;
}

.subheading2 {
  font-family: var(--font-poppins);
  font-weight: 700;
  font-size: 18px;
}

.body {
  font-size: 16px;
}

.body-sm {
  font-size: 14px;
}

.caption {
  font-weight: 500;
  font-size: 12px;
}
